name: Daily Fetch

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Run awesome-go-rank
      env:
        GITHUB_TOKEN: ${{ secrets.API_TOKEN }}
      run: |
        chmod u+x ./bin/linux/amd64/awesome-go-rank
        ./bin/linux/amd64/awesome-go-rank

    - name: Copy JSON to web directory
      run: |
        mkdir -p web/public/data
        cp public/data/repos.json web/public/data/repos.json

    - name: Commit and push changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Update ranking
        commit_user_name: GitHub Actions
        commit_user_email: actions@github.com
